{% extends "./main_layout.html" %}

{% block navigator_title %}Plants : Le jeu{% endblock navigator_title %}
        
{% block title %}Le jeu des plantes{% endblock %}

{% block content %}
    <div class="Game">
        <h3>{{ Message|linebreaks }}</h3>

        <h4>{{ Plant.name }}</h4>
        <img src="{{ Plant.image.url }}" alt="{{ Plant.name }}" title="{{ Plant.name }}">

        {% if Colors %}
            <form action="{% url 'knowledge:game' Plant.id %}" method="post">            
                {% csrf_token %}

                <div>
                    {% for Color in Colors %}
                        <input type="radio" 
                            name="Color" 
                            id="Color{{ forloop.counter }}"
                            value="{{ Color.id }}">
                        <label for="Color{{ forloop.counter }}">
                            {{ Color.name }}
                        </label>
                    {% endfor %}
                </div>

                <input type="submit" value="Je donne ma réponse">

            </form>
        {% endif %}

    </div>

{% endblock %}
