{% extends "main_layout.html" %}

{% block navigator_title %}Plants : Accueil{% endblock navigator_title %}
        
{% block title %}Quelques belles plantes{% endblock %}

{% block content %}
    {% if latest_plants %}
        <ul class="ElementList">
            {% for plant in latest_plants %}
                <li>
                    <a href="{% url 'knowledge:detail' plant.id %}">
                        <h2>{{ plant.name }}</h2>
                        <img src="{{ plant.image.url }}" alt="{{ plant.name }}" title="{{ plant.name }}">
                    </a>
                    <br>
                    {% if plant.wiki %}
                        <a class="wikiLink" href="{{ plant.wiki }}" target="_blank">Pour tout savoir...</a>
                        <br>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Pas de plantes en stock :-(</p>
    {% endif %}
{% endblock %}
